body {
    background: #301934;
    font-family: 'Roboto Condensed', sans-serif;
}

#pageContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navContainer {
    display: flex;
    justify-content: space-between;
    background-color: black;
    width: 600px;
    border-radius: 25px;
}

.active {
    color: #111;
    background-color: #027491;
}

.content {
    margin: 0px;
    width: 50%;
    display: flex;
    align-items: center;
}

.textBody {
    margin: 20px;
    border: 2px solid yellow;
    padding-left: 20px;
    padding-right: 20px;
    width: 50%;
    background-color: black;
    border-radius: 25px;
}

.content img {
    width: 50%;
}

a {
    flex-basis: 25%;
    display: block;
    color: white;
    text-align: center;
    font-size: 24px;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid rgb(200, 255, 0);
    border-left: 1px solid rgb(200, 255, 0);
    border-radius: 25px;
}

/* Change the link color to #111 (black) on hover */
a:hover:not(.active) {
    color: white;
    background-color: #111;
}

h1 {
    margin: 5px;
    color: white;
    text-align: center;
    font-size: 75px;
}

h2 {
    margin-top: 15px;
    margin-bottom: 0px;
    color: white;
    text-align: center;
    font-size: 50px;
}

h3 {
    color: white;
    text-align: center;
}

p {
    color: white;
}